.circle {
  border-radius: 50%;
  width: 100px;
  height: 100px;
  background-color: #A2DED0;
  text-align: center;
  line-height: 100px;
  color: white;
  font-weight: 600;
  margin: 0 auto;
}

.container {
  padding-top: 20px;
}
